.generos{
    text-align: center;
}
.catego{
    text-align: center;
    color: rgb(139, 119, 74);
}
.subti{
    text-align: center;

}
body{ 
    background: linear-gradient(to bottom, #4b2a05, #6d452e);
}


.box1{
    
    width: 250px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    background-image: url(.//imagens/boxfourth.jpg);
    background-size: cover;

   }

   .informa{
    color: antiquewhite;

}

.box2{
    width: 250px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    background-image: url(.//imagens/boxacotar.jpg);
    background-size: cover;
}

.box3{
    width: 250px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    background-image: url(.//imagens/boxcaraval.jpg);
    background-size: cover;
}
 .box4{
    width: 250px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    background-image: url(.//imagens/boxhp.jpg);
    background-size: cover;
    }

    .boxA{
    width: 150px;
    height: 65px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
    background-color:  rgb(219, 212, 186);;
    background-size: cover;
    
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  color: rgb(170, 149, 123);
  text-align: center;
    }
    








    .outfit-uniquifier{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: ;
  font-style: normal;
  color: rgb(170, 149, 123);
}

    
    
    


