
body{ 
    background: linear-gradient(to bottom, #aa8a66, #6d452e);
}

.box1{
    background-image: url(.//imagens/1.png);
    width: 250px;
    height: 300px;
    background-position: center;
    background-size:cover ;
    border-radius: 10px;
}

.box2{
    background-image: url(.//imagens/2.png);
    width: 250px;
    height: 300px;
    background-position: center;
    background-size:cover;
    border-radius: 10px;
}
.container{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
     
   body{ 
    background: linear-gradient(to bottom, #664a2a, #966549);
}

.box1{
    background-image: url(.//imagens/1.png);
    width: 250px;
    height: 300px;
    background-position: center;
    background-size:cover ;
    border-radius: 10px;
}

.box2{
    background-image: url(.//imagens/5.png);
    width: 250px;
    height: 300px;
    background-position: center;
    background-size:cover;
    border-radius: 10px;
}


.box3{
    background-image: url(.//imagens/2.png);
    width: 250px;
    height: 300px;
    background-position: center;
    background-size:cover ;
    border-radius: 10px;
}

.box4{
    background-image: url(.//imagens/6.png);
    width: 250px;
    height: 300px;
    background-position: center;
    background-size:cover;
    border-radius: 10px;
}

.box5{
    background-image: url(.//imagens/4.png);
    width: 250px;
    height: 300px;
    background-position: center;
    background-size:cover ;
    border-radius: 10px;
}

.box6{
    background-image: url(.//imagens/8.png);
    width: 250px;
    height: 300px;
    background-position: center;
    background-size:cover;
    border-radius: 10px;
}

.container{
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}



    
    
    




