.imagem{
    background: url(../imagens/book.jpg);
    width: 900px;
    height: 150px;


}
.texto{
    text-align: center;
    font-size: 25px;
    color:#e0c9a3;
    font-weight: bold;
}
body{

        background: radial-gradient(ellipse, #aa9079, #8B5E3C)
}
.nome{
    text-align: center;
    color: bisque;
}

.navegacao{
    display: flex;
}
.navegacao li{
    list-style: none;
    margin-right: 150px;
}
.navegacao a{
    color: #E5E7EB;
    text-decoration: none;
}
.boxes{
    color: beige;
    margin-left: 100px;
    text-decoration: wavy;
    
}
.cadastro{
    color: beige;
    margin-left: 10px;
    text-decoration: wavy;
    
}
