.imagem{
    background-image: url(.//imagens/biblio.jpg);


}
.texto{
    text-align: center;
    font-size: 25px;
    color:#e0c9a3;
    font-weight: bold;
}
body{

 margin: 0;
}

.nome{
    text-align: center;
    color: bisque;
}

.navegacao{
    display: flex;
}
.navegacao li{
    list-style: none;
    margin-right: 150px;
}
.navegacao a{
    color: #E5E7EB;
    text-decoration: none;
}
.boxes{
    color: beige;
    margin-left: 350px;
    text-decoration: wavy;
    
}
.cadastro{
    color: beige;
    margin-left: 50px;
    text-decoration: wavy;
    
}
.meu-cabecalho{
    background-color: #9c7c63;
    height: 80px;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    position: fixed;

top: 0;
left: 0;
width: 100%;
z-index: 1000;
padding: 0 2ram;

}

.box{
    align-items: center;
    width: 600px;
    height: 150px;
    border: 3px solid  #3d5970;
    border-radius: 10px;
    background-color: #1f394e;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.box2{
    width: 8000px;
    height: 850px;
    border: solid #4B3621;
    border-style:none;
    background-color: #4B3621;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2000px;
}

.titulo_especial {
  font-family: 'Love Light', cursive;
  font-weight: 100%;
  font-style: normal;
  color:#ceb996;
  margin-left: 650px;
  text-align: center;
  font-size:80;
}

